//Buttons


.see-more,
.take-test,
.login,
.start-search {
  border-radius: 30px;
  border:none;
  text-align: center;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;

  &:focus{
    outline: none;
  }
  &:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}
.dark-blue-background{
  background-color: $darkBlue;
  padding: 0 30px;
}
.white-background{
  background-color: $whiteTitle;
  width: 200px;
}

