
// Colors


$darkGray: #707070;
$middleBlue: #0C7EE9;
$lightBlueCover: #EAEFF5;
$gray: #8B8B8E;
$grayBorder: #CBCCCE;
$yellow: #EBAA3F;
$yellowTitle: #EDA020;
$darkBlue: #050835;
$lightBlue: #56BDFD;
$lightBlueTitle: #009DFF;
$blueForGradient: #7BC5F4;
$grayForGradient: #6DC2E500;
$orange: #F68523;
$orangeTitle: #EC622B;
$pink: #CD61ED;
$pinkTitle: #E41DFD;
$blue: #3100FD;
$blueForBox: #2C1DE5;
$purple: #873EFD;
$black: #2D2E33;
$white: #FFFFFF;
$whiteTitle: #FCF9F7;
$beigeForGradient: #FFD2AC;
$brownForGradient: #904607DD;

// Font Size

$mainHeading: 70px;
$sectionHeading: 40px;
$paragraphHeading: 20px;
$paragraphText: 16px;
$spanSize: 14px;



//Line Height

$paragraphLineHeight: 24px;



