@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.see-more,
.take-test,
.login,
.start-search {
  border-radius: 30px;
  border: none;
  text-align: center;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.see-more:focus,
.take-test:focus,
.login:focus,
.start-search:focus {
  outline: none;
}
.see-more:hover,
.take-test:hover,
.login:hover,
.start-search:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dark-blue-background {
  background-color: #050835;
  padding: 0 30px;
}

.white-background {
  background-color: #FCF9F7;
  width: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 150px;
}
@media screen and (max-width: 1281px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}
@media screen and (max-width: 1281px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
@media screen and (max-width: 1281px) {
  h3 {
    font-size: 14px;
  }
}

.white-title {
  color: #FCF9F7;
}

.middleBlue-title {
  color: #0C7EE9;
}

.yellow-title {
  color: #EDA020;
}

.darkBlue-title {
  color: #050835;
}

.lightBlue-title {
  color: #009DFF;
}

.orange-title {
  color: #EC622B;
}

.pink-title {
  color: #E41DFD;
}

.pink-heading {
  color: #CD61ED;
}

.blue-title {
  color: #3100FD;
}

.blue-for-box-title {
  color: #2C1DE5;
}

.purple-title {
  color: #873EFD;
}

.gray-title {
  color: #8B8B8E;
}

.black {
  color: #2D2E33;
}

.middle-Blue {
  background-color: #0C7EE9;
}

.yellow {
  background-color: #EBAA3F;
}

.dark-blue {
  background-color: #050835;
}

.blue-for-box {
  background-color: #2C1DE5;
}

.light-blue {
  background-color: #56BDFD;
}

.orange {
  background-color: #F68523;
}

.pink {
  background-color: #CD61ED;
}

.blue {
  background-color: #3100FD;
}

.purple {
  background-color: #873EFD;
}

.fixed-width {
  width: 570px;
}
@media screen and (max-width: 1281px) {
  .fixed-width {
    width: auto;
  }
}

.no-top-margin {
  margin-top: 0 !important;
}

.additional-margin {
  margin: 0 0 15px 0 !important;
}

.box-border {
  border: 1px solid #CBCCCE;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
  padding: 0 15px 15px 15px;
  height: 200px;
}

.no-padding {
  padding: 0 !important;
}

header {
  z-index: 1000;
  position: relative;
}
header > img {
  width: 100%;
}
header .header-content {
  background: linear-gradient(180deg, rgba(255, 210, 172, 0.1) 0%, rgba(144, 70, 7, 0.87) 100%);
  padding-top: 25px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
header nav {
  max-width: 1410px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav .nav-links {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
header nav .nav-links .login-wrapper {
  border-left: 1px solid #CBCCCE;
  border-right: 1px solid #CBCCCE;
}
header nav .nav-links .login-wrapper .login-content {
  background-color: #FFFFFF;
  border-radius: 50px;
  padding: 5px 0 5px 5px;
  margin: 0 30px;
}
header nav .nav-links .login-wrapper .login-content span {
  margin: 0 20px;
}
header nav .nav-links .nav-link {
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 640px) {
  header nav .nav-links .nav-link {
    display: none;
  }
}
header nav .nav-links .nav-link a {
  font-size: 20px;
  color: #2D2E33;
  font-weight: 500;
  text-decoration: none;
}
@media screen and (max-width: 1281px) {
  header nav .nav-links .nav-link a {
    font-size: 14px;
  }
}
header nav .nav-links .nav-link .language-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
header nav .nav-links .nav-link .language-wrapper span {
  font-size: 20px;
  color: #2D2E33;
  font-weight: 500;
  margin-right: 5px;
}
@media screen and (max-width: 1281px) {
  header nav .nav-links .nav-link .language-wrapper span {
    font-size: 14px;
  }
}
header .basic-search-wrapper {
  display: flex;
  margin: 76px auto 20px auto;
  justify-content: center;
}
header .basic-search-wrapper .basic-search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 5px 5px 5px 20px;
}
header .basic-search-wrapper .basic-search-content .input-wrapper {
  display: flex;
  align-items: center;
  border-right: 1px solid #CBCCCE;
  padding-right: 10px;
}
header .basic-search-wrapper .basic-search-content .input-wrapper input {
  margin-left: 10px;
  border: none;
  outline: none;
  width: 300px;
}
header .basic-search-wrapper .basic-search-content .select-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
header .basic-search-wrapper .basic-search-content .select-wrapper select {
  margin-left: 10px;
  border: none;
  outline: none;
  width: 300px;
}
header .basic-search-wrapper .basic-search-content .left-border {
  margin-left: 20px;
  border-left: 1px solid #CBCCCE;
}
header .header-title {
  color: #FFFFFF;
  text-align: center;
  margin-top: 6px;
}
header .semi-bold {
  font-weight: 600 !important;
}
header .medium-weight {
  font-weight: 500 !important;
}
header .header-search-input {
  margin: 76px 0 14px 0;
}
header .right-arrows {
  z-index: 1001;
  position: absolute;
  left: 64px;
  bottom: 64px;
}
header .left-arrows {
  z-index: 1001;
  position: absolute;
  right: 64px;
  top: 142px;
}
@media screen and (max-width: 1281px) {
  header .left-arrows {
    top: 89px;
  }
}

body section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
body section .smaller-width {
  width: 1410px;
  padding: 80px 0;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
body section .smaller-width .heading-wrapper {
  display: flex;
}
body section .smaller-width .heading-wrapper img {
  margin-right: 20px;
}
body section .smaller-width .center-align {
  margin: 0 auto;
  justify-content: center;
}
body section .smaller-width .small-boxes {
  display: flex;
  justify-content: space-between;
  margin: 44px 0 0 0;
}
@media screen and (max-width: 640px) {
  body section .smaller-width .small-boxes {
    flex-direction: column;
  }
}
body section .smaller-width .small-boxes .small-box-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width .small-boxes .small-box-wrapper {
    margin: 0 10px 0 5px;
  }
}
body section .smaller-width .small-boxes .small-box-wrapper .circle {
  height: 78px;
  width: 78px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
body section .smaller-width .small-boxes .small-box-wrapper .box-content p {
  color: #8B8B8E;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  margin-top: 5px;
}
body section .smaller-width .small-boxes .box-wrapper {
  border: none;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width .small-boxes .box-wrapper {
    width: 250px;
  }
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper {
  position: relative;
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper > img {
  display: block;
  height: 100%;
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper .small-pictures {
  width: 330px;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width .small-boxes .box-wrapper .img-wrapper .small-pictures {
    width: 250px;
  }
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper .bigger-pictures {
  height: 418px;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width .small-boxes .box-wrapper .img-wrapper .bigger-pictures {
    height: 235px;
  }
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper .type {
  height: 30px;
  width: 84px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6px;
  left: 15px;
}
body section .smaller-width .small-boxes .box-wrapper .img-wrapper .type span {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
body section .smaller-width .small-boxes .box-wrapper .margin-top {
  padding-top: 30px;
}
body section .smaller-width .small-boxes .box-wrapper p {
  font-size: 16px;
  font-style: italic;
  color: #2D2E33;
  margin: 19px 0;
}
body section .smaller-width .small-boxes .box-wrapper .margin-left {
  margin-left: 15px;
}
body section .smaller-width .small-boxes .box-wrapper .link-wrapper {
  text-decoration: 2px solid transparent;
}
body section .smaller-width .small-boxes .box-wrapper .link-wrapper span {
  margin-right: 10px;
}
body section .smaller-width .small-boxes .box-wrapper .link-wrapper:hover {
  border-bottom: 2px solid #CD61ED;
}
body section .smaller-width .small-boxes .box-wrapper .persons-name {
  color: #8B8B8E;
  font-size: 16px;
}
body section .smaller-width .highlighted {
  column-gap: 27px;
}
body section .smaller-width .two-columns-section {
  padding: 80px 0 110px 120px;
  position: relative;
}
body section .smaller-width .two-columns-section .sponsored {
  position: absolute;
  top: 20px;
  right: 20px;
}
body section .smaller-width .two-columns-section p {
  margin: 30px 0;
  font-size: 16px;
  line-height: 24px;
}
body section .smaller-width .two-columns-section .subtitle-wrapper {
  display: flex;
  margin: 30px 0 15px 0;
  align-items: center;
}
body section .smaller-width .two-columns-section .subtitle-wrapper .img-subtitle-wrapper {
  margin-right: 10px;
}
body section .smaller-width .blue-gray-gradient-background {
  background: #7BC5F4;
  background: linear-gradient(90deg, #7BC5F4 35%, #6DC2E500 100%);
  border-radius: 15px;
  position: relative;
}
body section .smaller-width .blue-gray-gradient-background .lighting {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}
body section .smaller-width .grey-blue-gradient-background {
  display: flex;
  justify-content: flex-end;
  padding-right: 120px;
  background: #7BC5F4;
  background: linear-gradient(270deg, #7BC5F4 37%, #6DC2E500 74%);
  border-radius: 15px;
  position: relative;
}
body section .smaller-width .grey-blue-gradient-background .church-picture {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
}
body section .smaller-width .grey-blue-gradient-background .transparent-arrows {
  position: absolute;
  right: 0;
  z-index: 0;
  left: 63px;
  bottom: 68px;
}
body section .smaller-width .video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body section .smaller-width .video-section .video-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 420px;
}
@media screen and (max-width: 1281px) {
  body section .smaller-width .video-section .video-content {
    height: 360px;
    margin-left: 20px;
  }
}
body section .smaller-width .video-section .video-content .women-writing {
  height: 100%;
}
body section .smaller-width .video-section .video-content .video-overlay {
  background: rgba(150, 150, 150, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border-radius: 15px;
}
body section .smaller-width .video-section .video-content .play-button {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
body .light-blue-cover {
  background-color: #EAEFF5;
}
body .dark-blue-cover {
  border: 1px solid #707070;
  background-color: #050835;
}
body .dark-blue-cover a img {
  margin-top: 10px;
}
body .question-box-wrapper {
  z-index: 1000;
  position: relative;
}
body .question-box-wrapper > img {
  width: 100%;
}
body .question-box-wrapper .question-box-content {
  z-index: 1001;
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1281px) {
  body .question-box-wrapper .question-box-content img {
    width: 500px;
  }
}

/*# sourceMappingURL=index.css.map */
